.monarch-pdf-text { position: absolute; inset: 0; overflow: clip; line-height: 1; text-align: initial; text-size-adjust: none; transform-origin: 0 0; }
.monarch-pdf-text :is(span, br) { color: transparent; position: absolute; white-space: pre; cursor: text; transform-origin: 0 0; }
.monarch-pdf-text > :not(.markedContent), .monarch-pdf-text .markedContent span:not(.markedContent) { z-index: 1; }
.monarch-pdf-text span.markedContent { top: 0; height: 0; }
.monarch-pdf-text ::selection { background: rgb(167 139 250 / 40%); }
